*.zip
Solutions/
Week 5/Zandbergen_Chapter13.pdf
Week 6/Zandbergen_Chapter13.pdf
Week 7/Zandbergen_Chapter13.pdf
Week 6/Toms - Chatper 6 - Geometries.pdf
Week 5/Toms - Chapter 5.pdf
Project 1/project1.gdb/
Final Project Proposals/Example 5 - Lockmiler_finalprojectProposal.pptx
Final Project Proposals/Example 4 - GIS 5090-Final Project.pptx
Final Project Proposals/Example 3 - Image Processing.pptx
Final Project Proposals/Example 2.pptx
Final Project Proposals/Example 1 - STL Crime.pptx
Final Project Proposals/Example 6- Snap Point to Line Feature Geoprocessing Tool - Proposal.pptx
Week 9/esri_mosaic_datasets.ppt
Week 9/week_9_las_datasets.ppt
Week 9/week_9_mosaic_datasets.ppt
Week 9/esri_las_datasets.ppt
Week 12/tw_211-111.ppt
Week 12/tw_48-110.ppt
zoo_featues_wgs84.shx
zoo_featues_wgs84.shp.xml
zoo_featues_wgs84.shp
zoo_featues_wgs84.sbx
zoo_featues_wgs84.sbn
zoo_featues_wgs84.prj
zoo_featues_wgs84.dbf
zoo_featues_wgs84.cpg
Converted_Graphics.shx
Converted_Graphics.shp
Converted_Graphics.prj
Converted_Graphics.dbf
Converted_Graphics.cpg
Week 10/Chapter 12.pdf
Week 10/Chapter 11.pdf
